<div style="margin:50px;">
    <div class="row">
        <div class="col-2" style="border:1px solid silver;padding:5px;">
            <div class="row">
                <div class="col-12">
                    <label for="ModuleName">Module</label>
                    <input type="text" class="form-control" id="ModuleName">        
                
                    <div class="col-12">
                        <label for="ClassName">Class</label>
                        <input type="text" class="form-control" id="ClassName">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10" style="border:1px solid silver;padding:5px;">
            
        </div>
    </div>
</div>
